.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.dock {
  --scale: 1;
  padding: 0;
  margin: 0;
  --scale: 1;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #888;
}

.dock:hover {
  cursor: pointer;
}

.dock-item {
  font-size: calc(6rem * var(--scale));
  padding: 0 .5rem;
  cursor: default;
  position: relative;
  top: calc((6rem * var(--scale) - 6rem) / 2 * -1);
  transition: 15ms all ease-out;
}